@model TrashCollectorProject.Models.Service

@{
    ViewData["Title"] = "EditPickupDay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>EditPickupDay</h1>

<h4>Service</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditPickupDay">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PickupDay" class="control-label"></label>
                <select asp-for="PickupDay" class="form-control">
                    <option value=@DayOfWeek.Sunday>Sunday</option>
                    <option value=@DayOfWeek.Monday>Monday</option>
                    <option value=@DayOfWeek.Tuesday>Tuesday</option>
                    <option value=@DayOfWeek.Wednesday>Wednesday</option>
                    <option value=@DayOfWeek.Thursday>Thursday</option>
                    <option value=@DayOfWeek.Friday>Friday</option>
                    <option value=@DayOfWeek.Saturday>Saturday</option>
                </select>
                <span asp-validation-for="PickupDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Dashboard</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
