@model TrashCollectorProject.Models.ViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div>
        <h4>Customer Dashboard</h4>

        @if (Model.Service == null)
        {
            <div><a asp-action="BeginService">Begin Service</a></div>
        }

        <div><a asp-action="EditAddress">Change Address</a></div>

        <div><a asp-action="Details" asp-route-id="model.Customer.Id">Account Details</a></div>

        @if (Model.Service != null)
        {
            <div><a asp-action="EditPickupDay" asp-route-id="model.Customer.Id">Change Weekly Pickup Day</a></div>
        }

    </div>







